*{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  margin: 1%;
 
}
.logo{

  width: 200px;
}



/*This is nav bar css*/
.navbar{
  float: right;
  height: 50px;
  padding-right: 10%;

}
.navbar ul{
  list-style-type: none;
  /*background-color: antiquewhite;*/
  padding: 0;
  margin: 0%;
  overflow: hidden;
}

.navbar a{
  color: grey;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;

}

.navbar a:hover{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.navbar li{
  float: left;

}

main{
  background-color: #fff6f6;
  display: flex;
  height: 665px;
}

.column2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff6f6;
}

.button-submit {
  margin-top: 15;
  width: 30%;
  padding: 10;
  padding-top: 15;
  padding-bottom: 15;
  border-radius: 5px;
  border: none;
  font-size: 20;
  background-color: #fea7a7;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.button-submit:hover {
  background-color: #ef9191;
  cursor: pointer;
}

.container {
  background-color: #fdf9f9;
  border-radius: 10px;
  padding: 60;
  text-align:center;
  border: solid 2px white;
  
}

.form-container {
  border: 1px solid rgb(254, 185, 185);
  border-radius: 5px;
  padding: 32;
  background-color: #fff6f6;
  cursor: pointer;
}

.title {
  font-size: 42px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  margin: 32;
}

.upload-icon {
  margin-bottom: 20;
  width: 400px;
  height:200px;
  text-align: center;

}



.upload-text {
  text-align: center;
  font-size: 18;
  color: rgb(129, 129, 129);
}


.middle-footer{
  display: flex;
	align-items: flex-end;

}

/*-------------------------------------------------------------------------------*/
/*Registration css*/
.reg-prof{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgb(249, 144, 144);
  margin-right: 10px;
}

.reg-prof:hover{
  height: 310px;
  width: 310px;
  border: 2px solid rgb(249, 144, 144);
}

.reg-main{
  background-color: #ffffff;
  display: flex;
  
}

.cards{
  text-align: center;
  font-weight: bold;
  color: #d65a5a;
  padding: 30px;
  padding-top: 70px;
  
}

.cards :hover{
  font-weight: bolder;
  font-size: 18px;
}

.card1{
  padding:10px;
}


legend{
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;
  
}

.cards a{
  text-decoration: none;
  font-weight: bold;
  color: #d65a5a;
}

.cards a:hover{
  font-weight: bolder;
  color: #d65a5a;
}